<div class="wrapper">
 <!--Header du document-->
  <!--Jumbotron-->
   <div class="main-header">
    <div class="jumbotron">
     <div class="top-titre">
      <h2>Le sport en un clic</h2>
      <select class="selectpicker">
         <optgroup label="Picnic" disabled>
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
          </optgroup>
          <optgroup label="Camping">
          <option>Tent</option>
          <option>Flashlight</option>
          <option>Toilet Paper</option>
        </optgroup>
      </select>
     </div>
    </div>
   </div>
  
    <div class="fonction">
          <!--Content - Corps du site-->
          <div class="main-content">
            <!--Partie evenement-->
            <div class="Fonctionnement">
              <h2>Sport-Events, c'est facile</h2>
            </div>

        <!--partie information-->
        <div class="container">
          <div class="info1">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <img src="images/geoloc.png" alt="louvre" class="img-circle">
              <h2>Evénements</h2>
              <p>Retrouvez tous les événements proches de chez vous.</p>
            </div>
          </div>

        <div class="info2">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img src="images/formulaire.png" alt="..." class="img-circle">
            <h2>Inscription</h2>
            <p>Inscrivez vous en 2 minutes.</p>
          </div>
        </div>

        <div class="info3">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img src="images/paiement.png" alt="..." class="img-circle">
            <h2>Paiement</h2>
            <p>Paiement en ligne rapide et sécurisé.</p>
            <div class="bouton">
            </div>
          </div>
        </div>
      </div>
      </div>


      <!--Partie evenement 1er ligne-->
      <div class="section">
        <!--Partie events-->
        <div class="Evenement">
          <h2>Evénements proche de chez vous</h2>
        </div>

      <div class="container">
          <div class="row">
            <div class="event1">
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                <img src="images/testrun.png" alt="..." style="width; 50px; ">
              </a>
              <div class="bouton">
              <button type="button" class="btn btn-primary">S'inscrire</button>
              </div>
            </div>
          </div>

        <div class="event2">
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="images/testrun.png" alt="...">
            </a>
            <div class="bouton">
            <button type="button" class="btn btn-primary">Default button</button>
            </div>
          </div>
        </div>

        <div class="event3">
          <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <img src="images/testrun.png" alt="...">
            </a>
            <div class="bouton">
            <button type="button" class="btn btn-primary">Default button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Partie evenement 2eme ligne-->

  <div class="section">
    <div class="container">
        <div class="row">
          <div class="event4">
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                <img src="images/testrun.png" alt="..." style="width; 50px; ">
              </a>
              <div class="bouton">
                <button type="button" class="btn btn-primary">Default button</button>
              </div>
            </div>
          </div>

          <div class="event5">
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                <img src="images/testrun.png" alt="...">
              </a>
              <div class="bouton">
                <button type="button" class="btn btn-primary">Default button</button>
              </div>
            </div>
          </div>

          <div class="event6">
            <div class="col-xs-6 col-md-4">
              <a href="#" class="thumbnail">
                <img src="images/testrun.png" alt="...">
              </a>
              <div class="bouton">
                <button type="button" class="btn btn-primary">Default button</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--bouton tous les évenements-->
    <div class="bouton-all">
        <button type="button" class="btn btn-primary btn-lg">Voir tous les évenements</button>
    </div>
    </div>

<!--newletters-->
<section class="home-newsletter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
	      <div class="single">
		      <h2>Recevoir toutes les news</h2>
	          <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter your email">
              <span class="input-group-btn">
              <button class="btn btn-theme" type="submit">C'est parti !</button>
              </span>
            </div>
	        </div>
        </div>
      </div>
    </div>
</section>


  
  </body>
</html>
